* {
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border: solid 1px #ddd;
    column-gap: 8px;

}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 1px;
}

header span {
    font-size: 1.2rem;
    color: black;
}

.hamburger{
    background: none;
    border: none;
    color:black;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before{
    content: "\2630";
}

.hamburger.show::before{
    content: "\00D7";
}
    
