@media (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .navigation {
    position: static;
    display: block;
    width: auto;
  }

  .navigation ul {
    display: flex;
    gap: 1.5rem;
  }

  .navigation li {
    border: none;
  }

  .navigation a {
    padding: 0;
  }

  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-left {
    text-align: left;
  }

  .footer-center {
    text-align: center;
  }

  .footer-right {
    text-align: right;
  }
  
  .hero img{
    height: 500px;
  }

  .hero-text {
    max-width: 600px;
    padding: 2rem;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }

  .hero-text p {
    font-size: 1.2rem;
  }

  .home-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    padding: 2rem;
  }

  .activities-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .weather-container {
    grid-template-columns: 1fr 1fr;
  }

  .weather-info {
    text-align: left;
  }

  .plants-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}